body {
    padding-top: .48rem;
}
.content {
    padding-left: .8rem;
    background-color: #fff;
    box-sizing: border-box;
}
.conitem {
    width: 19.2rem;
    height: 3.2rem;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}
.conitem:last-child {
    border: none;
}
.conitem-index {
    float: right;
    height: 3.2rem;
    width: 4.2rem;
    font-size: 24px;
    margin-right: .8rem;
    line-height: 3.2rem;
    text-align: right;
    color: #b2b2b2;
}
.conitem-text {
    display: inline-block;
    width: 13.6rem;
    margin-top: .48rem;
}
.conitem-title {
    font-size: 14px;
    display: block;
    margin-bottom: .16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.conitem-des {
    font-size: 12px;
    color: #707070;
}
.noneLi{
    padding: .48rem;
    text-align: center;
    font-size: 14px;
    background-color: #f6f6f6;
}

/* //////////////////////////////////// */

.dropload-up,
.dropload-down {
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.dropload-down {
    height: 50px;
}

.dropload-refresh,
.dropload-update,
.dropload-load,
.dropload-noData {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.dropload-load .loading {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}